.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-fluid{
    width:150px;
}

#logo{
    margin-top: 5px;
    margin-left: 15px;
}

#connexion{
    margin-top: 5px;
    margin-right: 15px;
}

