{% extends 'base.html.twig' %}

{% block title %}New TypeVente{% endblock %}

{% block body %}
    <h1>Create new TypeVente</h1>

    {{ include('admin/typeVente/_form.html.twig') }}

    <a href="{{ path('type_vente_index') }}">back to list</a>
{% endblock %}
