.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.card{
    width: 100%;
}

.card-body{
    text-align: center;
    align-items: center;
}

.prix{
    text-align: center;
}

a.plusInfo{
    color: #ED7211;
}